a {
    text-decoration: none;
    color: black;
    justify-content: space-between;
}

.book {
    display: flex;
    gap: 15px;

}

body {
    margin: 0;
    background-color: rgb(211, 211, 211);
    height: 100vh;
}

.div-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    background: white;
    min-height: 200px;
    margin: 100px;
}



button {
    background-color: rgb(48, 136, 119);
    cursor: pointer;
}

#cart {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 70%;
    background-color: rgb(219, 215, 215);
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
}

.header {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.ticket {

    color: green;
    font-size: 35px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 98, 255);
    color: white;
    width: 100%;
}